<div class="chatWindow">
    <h2>Chatea con nosotros</h2>
    
    <div id="messageLogs">
    </div>
    <div>
        <i id="username"></i> <input type="text" id="chatbox">
    </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
