<h1>Ingrese su nueva Contraseña</h1>
<form action="/session/recoverPassAction/{{token}}" method="post">
    Contraseña: <input type="text" name="password"> <br>
    <input type="submit" value="Modificar">
</form>
